@media only screen and (min-width: 1230px){
	*{
		box-sizing: border-box;
	}

	@charset "utf-8";
	/* CSS Document */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
	body{
		font-family: 'Open Sans', sans-serif;
		font-size:16px;
		margin:0px;
		padding:0px;

		color:#000;
		background:#fafafa;
	}
	h1{ text-align:center; font-size:4em; font-weight:bold; margin:0; text-transform:uppercase;}
	h4{ text-align:center; font-size:2em; font-weight:600; margin:0; text-transform:uppercase}
	h3{ text-align:center; padding:20px 30px; font-weight:600; font-size: 2em; color:#000; text-transform:uppercase; border:7px solid #2ec3b7; display:
	table; }
	.banner-section{
		background:url(img/banner-img.png) no-repeat center;
		background-size:100% 100%;
		height:884px;
		display:block;
		color:#fff;
	}
	.container-fluid{
		margin:0 auto;
	}

	.container-fluid:nth-child(1){
		margin:0 auto;
		padding-left: 30px;
	}

	.top-section{
		padding-top:10px;
	}

	ul.menu{ margin-top:15px;}
	ul.menu li{ float:left; padding:0px 14px; list-style:none;}
	ul.menu li:last-child{padding-right:0;}
	ul.menu li a{ color:#fff; text-transform:uppercase; font-size:13px; text-decoration: none;}
	ul.menu li a:hover{ color: #2BD5DA;}


	.banner-section h4{margin-top:200px;}
	.our-services{ margin:70px 0px 70px 0;}
	.sub-text{ font-size:16px; text-align:center; margin:25px  auto;}

	.service-boxes div{ 
		text-align:center; 
		padding:35px 0; 
		background:#fff; 
		width: 30%; 
		height: 350px;
		margin: 30px 20px; 
		cursor:pointer; 
		position: relative;
		box-shadow: 0 0 15px lightgrey;
	}
	.service-boxes div:hover{
		/*box-shadow: 0 0 30px #91C9CF;*/
		transition: box-shadow .3s;
	}
	.service-boxes div img{ height:47px; margin-bottom:16px}
	.service-boxes div:first-child{ margin-left:0;}
	.service-boxes div:last-child{ margin-right:0;}
	.service-boxes h4{ font-size:18px; padding:22px}
	.service-boxes p{ font-size:14px; margin-bottom:60px; padding: 0 20px; }
	.service-boxes a{ 
		color:#000;
		position: absolute;
		bottom: 60px;
		left: 50%;
		font-size: 14px;
		-ms-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}
	.service-boxes a:hover{
		color: #29A7AA;
	}
	.at-summit-edge { background:url(img/summithedgeback.png) left no-repeat #fff;  padding:45px 0;}
	.at-summit-edge .container-fluid img{ height:450px; border:30px solid #fff; margin-top: 30px;}
	.at-summit-edge .container-fluid .summithedge-content:not(#our-services-heading){
		padding-left: 140px; 
		padding-right: 50px;
		margin-top: 70px;
		font-size: 13px; 
		color: #747475;
	}

	.summithedge-content > p{
		width: 420px;
		font-size: 14px;
		color: black;
	}
	.at-summit-edge h3{ margin-bottom: 40px;}
	.why-choose-us{ background:url(img/whychooseback.png) right no-repeat #f5f5f5;}

	.footer{background: #16181e; padding: 40px 0px;}
	.footer p{color: #757575}
	.footer div:first-child p{ padding: 25px 0; font-size: 15px; }
	.footer h4{color: #888887; font-size: 1.3em; text-align: left;}
	.footer ul.footer-menu{padding: 0; margin-top: 30px;}
	.footer ul.footer-menu li{list-style: none; padding: 2px 0; font-size: 13px;}
	.footer ul.footer-menu li a{color: #737373; font-size: 15px;}
	.footer ul.footer-menu li a:hover{color: #2ec3b7; text-decoration: none;}
	.footer p.contact-info{ line-height: 22px;}

	.copyright-footer{background: #0a0a0d; padding-left: 50px; padding-right: 50px;}
	.copyright-footer .container-fluid{padding: 18px 0; font-size: 14px; color: #757575;}
	.copyright-footer .social-icons ul li{list-style: none; float: left; padding: 0px 10px;}
	.copyright-footer .social-icons ul li a{color: #757575; font-size: 18px;}
	.copyright-footer .social-icons ul li a:hover{color: #fff;}

	/**************************************************************************/

	#mail-us{
		position: fixed;	
		background-color: #36DCE1;
		padding: 8px 30px;
		font-size: 14px;
		font-weight: 600;
		right: -40px;
		top: 40%;
		transform: rotate(90deg);
		cursor: pointer;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 1000;
	}

	#phone, #email{
		/*border: 1px solid white;*/
		height: 50px;
		overflow: hidden;
	}

	#phone-label, #email-label{
		/*border: 1px solid pink;*/
		float: left;
		padding: 0;
		padding-right: 30px;
		height: 100%;
	}

	#phone-no,#email-id{
		/*border: 1px solid salmon;*/
		float: left;
		color: white;
		padding: 0;
		font-size: 14px;
		height: 100%;
	}

	#our-services-heading{
		/*border: 1px solid red;*/
		
		display: inline-block;
	}

	#popup{
		/*border: 1px solid lightgrey;*/
		/*box-shadow: 0 0 1000px 1000px rgba(0,0,0,0.8);*/
		width: 700px;
		background-color: #fff;
		position: fixed;
		top: 50%;
	 	left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;
		z-index: 100;
		background-color: #FAFAFA;
		padding: 20px;
	}

	.close-icon{
		background-color: #2BD5DA;
		padding: 3px;
		height: 40px;
		width: 40px;
		border: 2px solid white;
		border-radius: 50%;
		position: absolute;
		top: -15px;
		right: -15px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.close-icon > i{
		font-size: 18px;
	}

	#popup > h6{
		/*border: 1px solid red;*/
		margin: 0;
		font-size: 15px;
		font-weight: bold;
	}

	#popup > hr{
		margin: 0;
		margin-top: 8px;
	}

	.input-wrapper{
		/*border: 1px solid skyblue;*/
		margin-top: 10px;
		position: relative;
	}

	.input-wrapper > img{
		position: absolute;
		font-size: 18px;
		left: 10px;
		top: 10px;
		color: black;
	}

	.input-wrapper > input{
		width: 100%;
		border: 1px solid lightgrey;
		border-radius: 2px;
		height: 35px;
		padding-left: 35px;
		font-size: 13px;
		background-color: #E7E7E7;
		color: grey;
	}

	input:focus{
		outline: none;
	}

	#q2{
		margin-top: 20px!important;
	}

	.checkbox > label{
		color: #747475;
		font-size: 14px;
	}

	#popup > button{
		border-radius: none;
		border: none;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 0;
		width: 100%;
		background-color: #2BD5DA;
		border-radius: 3px;
	}

	.overlay{
		position:fixed;
	    display:none; 
	    background-color: rgba(0, 0, 0, 0.9); 
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	}

	.blur{
		filter: opacity(20%);
	}








	/*****************************************************************************/






	.services-banner-section{
		background:url(img/services-banner.jpg) no-repeat center;
		/*background-size:100% 100%;*/
		height:400px!important;
		display:block;
		color:#fff;
	}

	.section:nth-child(odd) > .container-fluid{
		margin: 0!important;
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_03.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
		font-size: 13px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 h5{
		color: #2AC6CB;
		font-weight: bold;
		margin-bottom: 5px;
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > p{
		font-size: 14px;
		color: rgba(0,0,0,1);
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 ul li{
		font-size: 14px;
		color: rgba(0,0,0,1);
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: -50px;
		top: 30px;
	}

	.section:nth-child(even) > .container-fluid{
		margin: 0!important;
		/*border: 1px solid lightgrey;*/
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_05.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;	
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: 150px;
		top: 30px;
	}

	.read-more-1,.read-more-2{
		margin-bottom: 30px;
		
	}

	.hidden-heading{
		font-size: 14px;
		font-weight: bold;
	}

	.bottom-spacing{
		/*border: 1px solid red;*/
		margin-bottom: 20px;
		color: rgba(0,0,0,1);
		font-size: 14px;
	}

	b{
		font-size: 15px;

	}

	.hamburger{
		display: none;
	}

	#our-services-heading-sp{
		border: 7px solid rgba(255,255,255,0.3);
		padding: 10px 20px;
		display: inline-block;
	}
}


@media only screen and (min-width: 992px)  and (max-width: 1229px){
	body{
		/*border: 2px solid red;*/
		overflow-x: hidden;
	}
	*{
		box-sizing: border-box;
	}

	#our-services-heading{
		border: 7px solid rgba(255,255,255,0.3);
		padding: 10px 20px;
	}

	@charset "utf-8";
	/* CSS Document */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
	body{
		font-family: 'Open Sans', sans-serif;
		font-size:16px;
		margin:0px;
		padding:0px;
		color:#000;
		background:#fafafa;
	}
	h1{ text-align:center; font-size:3.5em; font-weight:bold; margin:0; text-transform:uppercase;}
	h4{ text-align:center; font-size:2em; font-weight:600; margin:0; text-transform:uppercase}
	h3{ text-align:center; padding:20px 30px; font-weight:600; font-size: 1.5em; color:#000; text-transform:uppercase; border:7px solid #2ec3b7; display:
	table; }
	.banner-section{
		background:url(img/banner-img.png) no-repeat center;
		background-size:100% 100%;
		height:884px;
		display:block;
		color:#fff;
	}
	.container-fluid{
		margin:0 auto;
	}

	.top-section{
		padding-top:10px;
	}

	ul.menu{ margin-top:15px;}
	ul.menu li{ float:left; padding:0px 14px; list-style:none;}
	ul.menu li:last-child{padding-right:0;}
	ul.menu li a{ color:#fff; text-transform:uppercase; font-size:13px; text-decoration: none;}
	ul.menu li a:hover{ color: #2BD5DA;}


	.banner-section h4{margin-top:200px;}
	.our-services{ margin:70px 0px 70px 0;}
	.sub-text{ font-size:16px; text-align:center; margin:25px  auto;}

	.service-boxes div{ 
		text-align:center; 
		padding:35px 0; 
		background:#fff; 
		width: 30%; 
		height: 350px;
		margin: 30px 20px; 
		cursor:pointer; 
		position: relative;
		box-shadow: 0 0 15px lightgrey;
	}
	.service-boxes div:hover{
		/*box-shadow: 0 0 30px #91C9CF;*/
		transition: box-shadow .3s;
	}
	.service-boxes div img{ height:47px; margin-bottom:16px}
	.service-boxes div:first-child{ margin-left:0;}
	.service-boxes div:last-child{ margin-right:0;}
	.service-boxes h4{ font-size:18px; padding:22px}
	.service-boxes p{ font-size:14px; margin-bottom:60px; padding: 0 20px;}
	.service-boxes a{ 
		color:#000;
		position: absolute;
		bottom: 60px;
		left: 50%;
		font-size: 14px;
		-ms-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}
	.service-boxes a:hover{
		color: #29A7AA;
	}
	.at-summit-edge { background:url(img/summithedgeback.png) left no-repeat #fff;  padding:45px 0;}
	.at-summit-edge .container-fluid img{ height:450px; border:30px solid #fff;}
	.at-summit-edge .container-fluid .summithedge-content:not(#our-services-heading){
		padding-left: 140px;
		padding-right: 50px;
		margin-top: 70px;
		font-size: 13px; 
		color: #747475;
		/*border: 1px solid red;*/
	}

	#second-section .container-fluid .summithedge-content:not(#our-services-heading){
		padding-left: 0;
		padding-right: 50px;
		margin-top: 70px;
		font-size: 13px; 
		color: #747475;
	}

	.summithedge-content > p{
		width: 320px;
		font-size: 14px;
		color: black;
		/*text-align: justify;*/
	}
	.at-summit-edge h3{ margin-bottom: 40px;}
	.why-choose-us{ background:url(img/whychooseback.png) right no-repeat #f5f5f5;}

	.footer{background: #16181e; padding: 40px 0px;}
	.footer p{color: #757575}
	.footer div:first-child p{ padding: 25px 0; font-size: 13px; }
	.footer h4{color: #888887; font-size: 1.3em; text-align: left;}
	.footer ul.footer-menu{padding: 0; margin-top: 30px;}
	.footer ul.footer-menu li{list-style: none; padding: 2px 0; font-size: 13px;}
	.footer ul.footer-menu li a{color: #737373;}
	.footer ul.footer-menu li a:hover{color: #2ec3b7; text-decoration: none;}
	.footer p.contact-info{ line-height: 22px;}

	.copyright-footer{background: #0a0a0d;}
	.copyright-footer .container-fluid{padding: 18px 0; font-size: 14px; color: #757575;}
	.copyright-footer .social-icons ul li{list-style: none; float: left; padding: 0px 10px;}
	.copyright-footer .social-icons ul li a{color: #757575; font-size: 18px;}
	.copyright-footer .social-icons ul li a:hover{color: #fff;}

	/**************************************************************************/

	#mail-us{
		position: fixed;	
		background-color: #36DCE1;
		padding: 8px 30px;
		font-size: 14px;
		font-weight: 600;
		right: -40px;
		top: 40%;
		transform: rotate(90deg);
		cursor: pointer;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 1000;
	}

	#phone, #email{
		/*border: 1px solid white;*/
		height: 50px;
		overflow: hidden;
	}

	#phone-label, #email-label{
		/*border: 1px solid pink;*/
		float: left;
		padding: 0;
		padding-right: 30px;
		height: 100%;
	}

	#phone-no,#email-id{
		/*border: 1px solid salmon;*/
		float: left;
		color: white;
		padding: 0;
		font-size: 14px;
		height: 100%;
	}

	#our-services-heading{
		/*border: 1px solid red;*/
		display: inline-block;
	}

	#popup{
		/*border: 1px solid lightgrey;*/
		/*box-shadow: 0 0 1000px 1000px rgba(0,0,0,0.8);*/
		width: 350px;
		background-color: #fff;
		position: fixed;
		top: 50%;
	 	left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;
		z-index: 100;
		background-color: #FAFAFA;
		padding: 20px;

	}

	.close-icon{
		background-color: #2BD5DA;
		padding: 3px;
		height: 40px;
		width: 40px;
		border: 2px solid white;
		border-radius: 50%;
		position: absolute;
		top: -15px;
		right: -15px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.close-icon > i{
		font-size: 18px;
	}

	#popup > h6{
		/*border: 1px solid red;*/
		margin: 0;
		font-size: 15px;
		font-weight: bold;
	}

	#popup > hr{
		margin: 0;
		margin-top: 8px;
	}

	.input-wrapper{
		/*border: 1px solid skyblue;*/
		margin-top: 10px;
		position: relative;
	}

	.input-wrapper > img{
		position: absolute;
		font-size: 18px;
		left: 10px;
		top: 10px;
		color: black;
	}

	.input-wrapper > input{
		width: 100%;
		border: 1px solid lightgrey;
		border-radius: 2px;
		height: 35px;
		padding-left: 35px;
		font-size: 13px;
		background-color: #E7E7E7;
		color: grey;
	}

	input:focus{
		outline: none;
	}

	#q2{
		margin-top: 20px!important;
	}

	.checkbox > label{
		color: #747475;
		font-size: 14px;
	}

	#popup > button{
		border-radius: none;
		border: none;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 0;
		width: 100%;
		background-color: #2BD5DA;
		border-radius: 3px;
	}

	.overlay{
		position:fixed;
	    display:none; 
	    background-color: rgba(0, 0, 0, 0.9); 
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	}

	.blur{
		filter: opacity(20%);
	}








	/*****************************************************************************/






	.services-banner-section{
		background:url(img/services-banner.jpg) no-repeat center;
		/*background-size:100% 100%;*/
		height:400px!important;
		display:block;
		color:#fff;
	}

	.section:nth-child(odd) > .container-fluid{
		margin: 0!important;
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_03.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
		font-size: 13px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: -50px;
		top: 30px;
	}

















	.section:nth-child(even) > .container-fluid{
		margin: 0!important;
		/*border: 1px solid lightgrey;*/
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_05.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;	
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: 30px;
		top: 30px;
	}

	.read-more-1,.read-more-2{
		margin-bottom: 30px;
		
	}

	.hamburger{
		display: none;
	}

	.hidden-heading{
		font-size: 13px;
		font-weight: bold;
	}

}

@media only screen and (min-width: 768px)  and (max-width: 991px){
	body{
		/*border: 2px solid skyblue;*/
		overflow-x: hidden;
	}
	*{
		box-sizing: border-box;
	}

	#our-services-heading{
		border: 7px solid rgba(255,255,255,0.3);
		padding: 10px 20px;
	}

	@charset "utf-8";
	/* CSS Document */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
	body{
		font-family: 'Open Sans', sans-serif;
		font-size:16px;
		margin:0px;
		padding:0px;
		color:#000;
		background:#fafafa;
	}
	h1{ text-align:center; font-size:2.8em; font-weight:bold; margin:0; text-transform:uppercase;}
	h4{ text-align:center; font-size:2em; font-weight:600; margin:0; text-transform:uppercase}
	h3{ text-align:center; padding:20px 30px; font-weight:600; font-size: 2em; color:#000; text-transform:uppercase; border:7px solid #2ec3b7; display:
	table; }
	.banner-section{
		background:url(img/banner-img.png) no-repeat center;
		background-size:100% 100%;
		height:884px;
		display:block;
		color:#fff;
	}
	.container-fluid{
		margin:0 auto;
	}

	.top-section{
		padding-top:10px;
	}

	ul.menu{ margin-top:15px;}
	ul.menu li{ float:left; padding:0px 14px; list-style:none;}
	ul.menu li:last-child{padding-right:0;}
	ul.menu li a{ color:#fff; text-transform:uppercase; font-size:13px; text-decoration: none;}
	ul.menu li a:hover{ color: #2BD5DA;}


	.banner-section h4{margin-top:200px;}
	.our-services{ margin:70px 0px 70px 0;}
	.sub-text{ font-size:16px; text-align:center; margin:25px  auto;}

	.service-boxes div{ 
		text-align:center; 
		padding:35px 0; 
		background:#fff; 
		width: 43%; 
		height: 300px;
		margin: 30px 20px; 
		cursor:pointer; 
		position: relative;
		box-shadow: 0 0 15px lightgrey;
	}
	.service-boxes div:hover{
		/*box-shadow: 0 0 30px #91C9CF;*/
		transition: box-shadow .3s;
	}
	.service-boxes div img{ height:35px; margin-bottom:30px}
	.service-boxes div:first-child{}
	.service-boxes div:last-child{ margin-right:0;}
	.service-boxes h4{ font-size:14px; padding:20px}
	.service-boxes p{
		font-size:13px; 
		margin-bottom:0px; 
		padding: 0 25px;
	}
	.service-boxes a{ 
		color:#000;
		position: absolute;
		bottom: 45px;
		left: 50%;
		font-size: 14px;
		-ms-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}
	.service-boxes a:hover{
		color: #29A7AA;
	}
	.at-summit-edge {padding:45px 0;}
	.at-summit-edge .container-fluid{
		padding: 0;
	}
	.at-summit-edge .container-fluid img{ height:450px; border:30px solid #fff;}

	.at-summit-edge .container-fluid > div:nth-child(1){
		background:url(img/summithedgeback.png) left no-repeat #fff;
		background-size: 100% 100%;
	}
	.at-summit-edge .container-fluid > div:nth-child(2){
		padding-top: 50px;
		text-align: center;
	}




	.at-summit-edge .container-fluid .summithedge-content:not(#our-services-heading){
		padding: 70px auto;
		
		font-size: 13px; 
		color: #747475;
		/*border: 1px solid red;*/
	}

	#second-section .container-fluid .summithedge-content:not(#our-services-heading){
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 20px;
		margin-top: 20px;
		font-size: 13px; 
		color: #747475;
	}

	.summithedge-content > p{
		padding: 0 80px;
		font-size: 14px;
		color: black;
		/*text-align: justify;*/
	}
	.at-summit-edge h3{ margin: 20px auto 40px auto;}
	.why-choose-us{ }

	.why-choose-us > .container-fluid {
		padding: 0;
	}

	.why-choose-us > .container-fluid > div:nth-child(1){
		
		background: none;
	}

	.why-choose-us > .container-fluid > div:nth-child(2){
		text-align: right;
		background:url(img/whychooseback.png) right no-repeat #f5f5f5;
		background-size: 100% 100%;
	}

	.footer{background: #16181e; padding: 40px 0px;}
	.footer p{color: #757575}
	.footer div:first-child p{ padding: 25px 0; font-size: 13px; }
	.footer h4{color: #888887; font-size: 1.3em; text-align: left;}
	.footer ul.footer-menu{padding: 0; margin-top: 30px;}
	.footer ul.footer-menu li{list-style: none; padding: 2px 0; font-size: 13px;}
	.footer ul.footer-menu li a{color: #737373;}
	.footer ul.footer-menu li a:hover{color: #2ec3b7; text-decoration: none;}
	.footer p.contact-info{ line-height: 22px;}

	.copyright-footer{background: #0a0a0d;}
	.copyright-footer .container-fluid{padding: 18px 0; font-size: 14px; color: #757575;}
	.copyright-footer .social-icons ul li{list-style: none; float: left; padding: 0px 10px;}
	.copyright-footer .social-icons ul li a{color: #757575; font-size: 18px;}
	.copyright-footer .social-icons ul li a:hover{color: #fff;}

	/**************************************************************************/

	#mail-us{
		position: fixed;	
		background-color: #36DCE1;
		padding: 8px 30px;
		font-size: 14px;
		font-weight: 600;
		right: -40px;
		top: 40%;
		transform: rotate(90deg);
		cursor: pointer;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 1000;
	}

	#phone, #email{
		/*border: 1px solid white;*/
		height: 50px;
		overflow: hidden;
	}

	#phone-label, #email-label{
		/*border: 1px solid pink;*/
		float: left;
		padding: 0;
		padding-right: 30px;
		height: 100%;
	}

	#phone-no,#email-id{
		/*border: 1px solid salmon;*/
		float: left;
		color: white;
		padding: 0;
		font-size: 14px;
		height: 100%;
	}

	#our-services-heading{
		/*border: 1px solid red;*/
		
		display: inline-block;
	}

	#popup{
		/*border: 1px solid lightgrey;*/
		/*box-shadow: 0 0 1000px 1000px rgba(0,0,0,0.8);*/
		width: 350px;
		background-color: #fff;
		position: fixed;
		top: 50%;
	 	left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;
		z-index: 100;
		background-color: #FAFAFA;
		padding: 20px;

	}

	.close-icon{
		background-color: #2BD5DA;
		padding: 3px;
		height: 40px;
		width: 40px;
		border: 2px solid white;
		border-radius: 50%;
		position: absolute;
		top: -15px;
		right: -15px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.close-icon > i{
		font-size: 18px;
	}

	#popup > h6{
		/*border: 1px solid red;*/
		margin: 0;
		font-size: 15px;
		font-weight: bold;
	}

	#popup > hr{
		margin: 0;
		margin-top: 8px;
	}

	.input-wrapper{
		/*border: 1px solid skyblue;*/
		margin-top: 10px;
		position: relative;
	}

	.input-wrapper > img{
		position: absolute;
		font-size: 18px;
		left: 10px;
		top: 10px;
		color: black;
	}

	.input-wrapper > input{
		width: 100%;
		border: 1px solid lightgrey;
		border-radius: 2px;
		height: 35px;
		padding-left: 35px;
		font-size: 13px;
		background-color: #E7E7E7;
		color: grey;
	}

	input:focus{
		outline: none;
	}

	#q2{
		margin-top: 20px!important;
	}

	.checkbox > label{
		color: #747475;
		font-size: 14px;
	}

	#popup > button{
		border-radius: none;
		border: none;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 0;
		width: 100%;
		background-color: #2BD5DA;
		border-radius: 3px;
	}

	.overlay{
		position:fixed;
	    display:none; 
	    background-color: rgba(0, 0, 0, 0.9); 
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	}

	.blur{
		filter: opacity(20%);
	}








	/*****************************************************************************/






	.services-banner-section{
		background:url(img/services-banner.jpg) no-repeat center;
		/*background-size:100% 100%;*/
		height:400px!important;
		display:block;
		color:#fff;
	}

	.section:nth-child(odd) > .container-fluid{
		margin: 0!important;
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_03.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
		font-size: 13px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: -50px;
		top: 30px;
	}

	.section:nth-child(even) > .container-fluid{
		margin: 0!important;
		/*border: 1px solid lightgrey;*/
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_05.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;	
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: 150px;
		top: 30px;
	}

	.read-more-1,.read-more-2{
		margin-bottom: 30px;
		
	}

	.hamburger{
		display: none;
	}

	.hidden-heading{
		font-size: 13px;
		font-weight: bold;
	}

}

@media only screen and (min-width: 480px)  and (max-width: 767px){

	body{
		/*border: 2px solid salmon;*/
		overflow-x: hidden;
	}
	*{
		box-sizing: border-box;
	}

	#our-services-heading{
		border: 7px solid rgba(255,255,255,0.3);
		padding: 10px 20px;
		display: inline-block;
	}

	@charset "utf-8";
	/* CSS Document */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
	body{
		font-family: 'Open Sans', sans-serif;
		font-size:16px;
		margin:0px;
		padding:0px;
		color:#000;
		background:#fafafa;
	}
	h1{ text-align:center; font-size:28px; font-weight:bold; margin:0; text-transform:uppercase;}
	h4{ text-align:center; font-size:2em; font-weight:600; margin:0; text-transform:uppercase}
	h3{ text-align:center; padding:20px 30px; font-weight:600; font-size: 2em; color:#000; text-transform:uppercase; border:7px solid #2ec3b7; display:
	table; }
	.banner-section{
		background:url(img/banner-img.png) no-repeat center;
		background-size:100% 100%;
		height:884px;
		display:block;
		color:#fff;
	}
	.container-fluid{
		margin:0 auto;
	}

	.top-section{
		padding-top:10px;
	}

	ul.menu{ margin-top:15px;}
	ul.menu li{ padding:0px 14px; list-style:none;}
	ul.menu li:last-child{padding-right:0;}
	ul.menu li a{ color:#fff; text-transform:uppercase; font-size:13px; text-decoration: none;}
	ul.menu li a:hover{ color: #2BD5DA;}


	.banner-section h4{margin-top:100px; font-size: 45px; margin-bottom: 25px;}
	.our-services{ margin:70px 0px 70px 0;}
	.sub-text{ font-size:14px; text-align:center; margin:25px  auto; width: 85%;}

	.service-boxes div{ 
		text-align:center; 
		padding:35px 0; 
		background:#fff; 
		width: 90%; 
		height: 300px;
		margin: 30px 20px; 
		cursor:pointer; 
		position: relative;
		box-shadow: 0 0 15px lightgrey;
	}
	.service-boxes div:hover{
		/*box-shadow: 0 0 30px #91C9CF;*/
		transition: box-shadow .3s;
	}
	.service-boxes div img{ height:35px; margin-bottom:30px}
	.service-boxes div:first-child{}
	.service-boxes div:last-child{ margin-right:0;}
	.service-boxes h4{ font-size:14px; padding:20px}
	.service-boxes p{
		font-size:13px; 
		margin-bottom:0px; 
		padding: 0 25px;
	}
	.service-boxes a{ 
		color:#000;
		position: absolute;
		bottom: 45px;
		left: 50%;
		font-size: 14px;
		-ms-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}
	.service-boxes a:hover{
		color: #29A7AA;
	}
	.at-summit-edge {padding:45px 0;}
	.at-summit-edge .container-fluid{
		padding: 0;
	}
	.at-summit-edge .container-fluid img{ height:450px; border:30px solid #fff;}
	.at-summit-edge .container-fluid > div:nth-child(1){
		background:url(img/summithedgeback.png) left no-repeat #fff;
		background-size: 100% 100%;
	}
	.at-summit-edge .container-fluid > div:nth-child(2){
		padding-top: 50px;
		text-align: center;
		

	}
	.at-summit-edge .container-fluid .summithedge-content:not(#our-services-heading){
		padding: 70px auto;
		
		font-size: 13px; 
		color: #747475;
		/*border: 1px solid red;*/
	}

	#second-section .container-fluid .summithedge-content:not(#our-services-heading){
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 20px;
		margin-top: 20px;
		font-size: 13px; 
		color: #747475;
	}

	.summithedge-content > p{
		padding: 0 80px;
		font-size: 14px;
		color: black;
		/*text-align: justify;*/
	}
	.at-summit-edge h3{ margin: 20px auto 40px auto;}
	.why-choose-us{ }

	.why-choose-us > .container-fluid {
		padding: 0;
	}

	.why-choose-us > .container-fluid > div:nth-child(1){
		background: none;

	}

	.why-choose-us > .container-fluid > div:nth-child(2){
		text-align: right;
		background:url(img/whychooseback.png) right no-repeat #f5f5f5;
		background-size: 100% 100%;
	}

	.footer{background: #16181e; padding: 40px 0px;}
	.footer p{color: #757575}
	.footer div:first-child p{ padding: 25px 0; font-size: 13px; }
	.footer h4{color: #888887; font-size: 1.3em; text-align: left;}
	.footer ul.footer-menu{padding: 0; margin-top: 30px;}
	.footer ul.footer-menu li{list-style: none; padding: 2px 0; font-size: 13px;}
	.footer ul.footer-menu li a{color: #737373;}
	.footer ul.footer-menu li a:hover{color: #2ec3b7; text-decoration: none;}
	.footer p.contact-info{ line-height: 22px;}

	.copyright-footer{background: #0a0a0d;}
	.copyright-footer .container-fluid{padding: 18px 0; font-size: 14px; color: #757575; padding-left: 30px;}
	.copyright-footer .social-icons ul li{list-style: none; float: left; padding: 0px 10px;}
	.copyright-footer .social-icons ul li a{color: #757575; font-size: 18px;}
	.copyright-footer .social-icons ul li a:hover{color: #fff;}

	/**************************************************************************/

	#mail-us{
		position: fixed;	
		background-color: #36DCE1;
		padding: 8px 30px;
		font-size: 14px;
		font-weight: 600;
		right: -40px;
		top: 40%;
		transform: rotate(90deg);
		cursor: pointer;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 1000;
	}

	#phone, #email{
		/*border: 1px solid white;*/
		height: 50px;
		overflow: hidden;
	}

	#phone-label, #email-label{
		/*border: 1px solid pink;*/
		float: left;
		padding: 0;
		padding-right: 30px;
		height: 100%;
	}

	#phone-no,#email-id{
		/*border: 1px solid salmon;*/
		float: left;
		color: white;
		padding: 0;
		font-size: 14px;
		height: 100%;
	}

	#our-services-heading{
		/*border: 1px solid red;*/
		margin: 0 auto;
		
	}

	#popup{
		/*border: 1px solid lightgrey;*/
		/*box-shadow: 0 0 1000px 1000px rgba(0,0,0,0.8);*/
		width: 350px;
		background-color: #fff;
		position: fixed;
		top: 50%;
	 	left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;
		z-index: 100;
		background-color: #FAFAFA;
		padding: 20px;
		margin-top: 60px;

	}

	.close-icon{
		background-color: #2BD5DA;
		padding: 3px;
		height: 40px;
		width: 40px;
		border: 2px solid white;
		border-radius: 50%;
		position: absolute;
		top: -15px;
		right: -15px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.close-icon > i{
		font-size: 18px;
	}

	#popup > h6{
		/*border: 1px solid red;*/
		margin: 0;
		font-size: 15px;
		font-weight: bold;
	}

	#popup > hr{
		margin: 0;
		margin-top: 8px;
	}

	.input-wrapper{
		/*border: 1px solid skyblue;*/
		margin-top: 10px;
		position: relative;
	}

	.input-wrapper > img{
		position: absolute;
		font-size: 18px;
		left: 10px;
		top: 10px;
		color: black;
	}

	.input-wrapper > input{
		width: 100%;
		border: 1px solid lightgrey;
		border-radius: 2px;
		height: 35px;
		padding-left: 35px;
		font-size: 13px;
		background-color: #E7E7E7;
		color: grey;
	}

	input:focus{
		outline: none;
	}

	#q2{
		margin-top: 20px!important;
	}

	.checkbox > label{
		color: #747475;
		font-size: 14px;
	}

	#popup > button{
		border-radius: none;
		border: none;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 0;
		width: 100%;
		background-color: #2BD5DA;
		border-radius: 3px;
	}

	.overlay{
		position:fixed;
	    display:none; 
	    background-color: rgba(0, 0, 0, 0.9); 
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	}

	.blur{
		filter: opacity(20%);
	}








	/*****************************************************************************/






	.services-banner-section{
		background:url(img/services-banner.jpg) no-repeat center;
		/*background-size:100% 100%;*/
		height:400px!important;
		display:block;
		color:#fff;
	}

	.section:nth-child(odd) > .container-fluid{
		margin: 0!important;
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_03.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
		font-size: 13px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: -50px;
		top: 30px;
	}


	.section:nth-child(even) > .container-fluid{
		margin: 0!important;
		/*border: 1px solid lightgrey;*/
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_05.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;	
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: 150px;
		top: 30px;
	}

	.read-more-1,.read-more-2{
		margin-bottom: 30px;
		
	}

	.hamburger{
		position: absolute;
		right: 20px;
		top: 0;
		font-size: 40px;
		cursor: pointer;
		z-index: 500;
	}

	#original-dropdown-menu{
		display: none;
	}

	.dropdown-wrapper{
		/*border: 1px solid red;*/
	}

	.dropdown-wrapper > div{
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: center;
		background-color: #f5f5f5;
		

	}

	.dropdown-wrapper > div > a{
		color: black;
		text-decoration: none;
		color: rgba(0,0,0,0.7);
	}
	.vanish{
		display: none;
	}

	.hidden-heading{
		font-size: 13px;
		font-weight: bold;
	}

}

@media only screen and (max-width: 479px){

	body{
		/*border: 2px solid plum;*/
		overflow-x: hidden;
	}

	#our-services-heading{
		border: 7px solid rgba(255,255,255,0.3);
		padding: 10px 20px;
		
	}

	*{
		box-sizing: border-box;
	}

	@charset "utf-8";
	/* CSS Document */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
	body{
		font-family: 'Open Sans', sans-serif;
		font-size:16px;
		margin:0px;
		padding:0px;
		color:#000;
		background:#fafafa;
	}
	h1{ text-align:center; font-size:22px; font-weight:bold; margin:0; text-transform:uppercase;}
	h4{ text-align:center; font-size:2em; font-weight:600; margin:0; text-transform:uppercase}
	h3{ text-align:center; padding:20px 30px; font-weight:600; font-size: 1.5em; color:#000; text-transform:uppercase; border:7px solid #2ec3b7; display:
	table; }
	.banner-section{
		background:url(img/banner-img.png) no-repeat center;
		background-size:100% 100%;
		height:884px;
		display:block;
		color:#fff;
	}
	.container-fluid{
		margin:0 auto;
	}

	.top-section{
		padding-top:10px;
	}

	ul.menu{ 
		margin-top:15px;
		padding: 0;
	}
	ul.menu li{ padding:0px; list-style:none;}
	ul.menu li:last-child{padding-right:0;}
	ul.menu li a{ color:#fff; text-transform:uppercase; font-size:13px; text-decoration: none;}
	ul.menu li a:hover{ color: #2BD5DA;}


	.banner-section h4{margin-top:80px; font-size: 30px; margin-bottom: 25px;}
	.our-services{ margin:70px 0px 70px 0;}
	.sub-text{ font-size:14px; text-align:center; margin:25px  auto; width: 85%;}

	.service-boxes div{ 
		text-align:center; 
		padding:35px 0; 
		background:#fff; 
		width: 90%; 
		height: 300px;
		margin: 30px 20px; 
		cursor:pointer; 
		position: relative;
		box-shadow: 0 0 15px lightgrey;
	}
	.service-boxes div:hover{
		/*box-shadow: 0 0 30px #91C9CF;*/
		transition: box-shadow .3s;
	}
	.service-boxes div img{ height:35px; margin-bottom:30px}
	.service-boxes div:first-child{}
	.service-boxes div:last-child{ margin-right:0;}
	.service-boxes h4{ font-size:14px; padding:20px}
	.service-boxes p{
		font-size:13px; 
		margin-bottom:0px; 
		padding: 0 25px;
	}
	.service-boxes a{ 
		color:#000;
		position: absolute;
		bottom: 45px;
		left: 50%;
		font-size: 14px;
		-ms-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}
	.service-boxes a:hover{
		color: #29A7AA;
	}
	.at-summit-edge {padding:45px 0;}
	.at-summit-edge .container-fluid{
		padding: 0;
	}
	.at-summit-edge .container-fluid img{ height:450px; border:30px solid #fff;}
	.at-summit-edge .container-fluid > div:nth-child(1){
		background:url(img/summithedgeback.png) left no-repeat #fff;
		background-size: 100% 100%;
	}
	.at-summit-edge .container-fluid > div:nth-child(2){
		padding-top: 50px;
		text-align: center;
		

	}
	.at-summit-edge .container-fluid .summithedge-content:not(#our-services-heading){
		padding: 70px auto;
		
		font-size: 13px; 
		color: #747475;
		/*border: 1px solid red;*/
	}

	#second-section .container-fluid .summithedge-content:not(#our-services-heading){
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 20px;
		margin-top: 20px;
		font-size: 13px; 
		color: #747475;
	}

	.summithedge-content > p{
		padding: 0 10px;
		font-size: 14px;
		color: black;
		/*text-align: justify;*/
	}
	.at-summit-edge h3{ margin: 20px auto 40px auto;}
	.why-choose-us{ }

	.why-choose-us > .container-fluid {
		padding: 0;
	}

	.why-choose-us > .container-fluid > div:nth-child(1){
		background: none;
	}

	.why-choose-us > .container-fluid > div:nth-child(2){
		text-align: right;
		background:url(img/whychooseback.png) right no-repeat #f5f5f5;
		background-size: 100% 100%;
	}

	.footer{background: #16181e; padding: 40px 0px;}
	.footer p{color: #757575}
	.footer div:first-child p{ padding: 25px 0; font-size: 13px; }
	.footer h4{color: #888887; font-size: 1.3em; text-align: left;}
	.footer ul.footer-menu{padding: 0; margin-top: 30px;}
	.footer ul.footer-menu li{list-style: none; padding: 2px 0; font-size: 13px;}
	.footer ul.footer-menu li a{color: #737373;}
	.footer ul.footer-menu li a:hover{color: #2ec3b7; text-decoration: none;}
	.footer p.contact-info{ line-height: 22px;}

	.copyright-footer{background: #0a0a0d;}
	.copyright-footer .container-fluid{padding: 18px 0; font-size: 14px; color: #757575; padding-left: 30px;}
	.copyright-footer .social-icons ul li{list-style: none; float: left; padding: 0px 10px;}
	.copyright-footer .social-icons ul li a{color: #757575; font-size: 18px;}
	.copyright-footer .social-icons ul li a:hover{color: #fff;}

	/**************************************************************************/

	#mail-us{
		position: fixed;	
		background-color: #36DCE1;
		padding: 8px 30px;
		font-size: 14px;
		font-weight: 600;
		right: -40px;
		top: 40%;
		transform: rotate(90deg);
		cursor: pointer;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 1000;
	}

	#phone, #email{
		/*border: 1px solid white;*/
		height: 50px;
		overflow: hidden;
	}

	#phone-label, #email-label{
		/*border: 1px solid pink;*/
		float: left;
		padding: 0;
		padding-right: 30px;
		height: 100%;
	}

	#phone-no,#email-id{
		/*border: 1px solid salmon;*/
		float: left;
		color: white;
		padding: 0;
		font-size: 14px;
		height: 100%;
	}

	#our-services-heading{
		/*border: 1px solid red;*/
		margin: 0 auto;
		
	}

	#popup{
		/*border: 1px solid lightgrey;*/
		/*box-shadow: 0 0 1000px 1000px rgba(0,0,0,0.8);*/
		width: 350px;
		background-color: #fff;
		position: fixed;
		top: 50%;
	 	left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;
		z-index: 100;
		background-color: #FAFAFA;
		padding: 20px;
		margin-top: 50px;

	}

	.close-icon{
		background-color: #2BD5DA;
		padding: 3px;
		height: 40px;
		width: 40px;
		border: 2px solid white;
		border-radius: 50%;
		position: absolute;
		top: -15px;
		right: -15px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.close-icon > i{
		font-size: 18px;
	}

	#popup > h6{
		/*border: 1px solid red;*/
		margin: 0;
		font-size: 15px;
		font-weight: bold;
	}

	#popup > hr{
		margin: 0;
		margin-top: 8px;
	}

	.input-wrapper{
		/*border: 1px solid skyblue;*/
		margin-top: 10px;
		position: relative;
	}

	.input-wrapper > img{
		position: absolute;
		font-size: 18px;
		left: 10px;
		top: 10px;
		color: black;
	}

	.input-wrapper > input{
		width: 100%;
		border: 1px solid lightgrey;
		border-radius: 2px;
		height: 35px;
		padding-left: 35px;
		font-size: 13px;
		background-color: #E7E7E7;
		color: grey;
	}

	input:focus{
		outline: none;
	}

	#q2{
		margin-top: 20px!important;
	}

	.checkbox > label{
		color: #747475;
		font-size: 14px;
	}

	#popup > button{
		border-radius: none;
		border: none;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 0;
		width: 100%;
		background-color: #2BD5DA;
		border-radius: 3px;
	}

	.overlay{
		position:fixed;
	    display:none; 
	    background-color: rgba(0, 0, 0, 0.9); 
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	}

	.blur{
		filter: opacity(20%);
	}








	/*****************************************************************************/






	.services-banner-section{
		background:url(img/services-banner.jpg) no-repeat center;
		/*background-size:100% 100%;*/
		height:400px!important;
		display:block;
		color:#fff;
	}

	.section:nth-child(odd) > .container-fluid{
		margin: 0!important;
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_03.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
		font-size: 13px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(odd) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		left: -50px;
		top: 30px;
	}

















	.section:nth-child(even) > .container-fluid{
		margin: 0!important;
		/*border: 1px solid lightgrey;*/
		
		background-color: #F5F5F5;
		padding: 0;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7{
		height: 500px;
		padding: 100px 0 0 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul{
		list-style: none;
	  	padding: 0;
	  	margin: 0;

	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li {
		padding-left: 1em; 
		text-indent: -.7em;
		font-weight: 600;
		font-size: 14px;
		color: black;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > ul > li::before {
		content: "\002022";
		color: #2BD5DA; 
		margin-right: 10px;
		font-size: 20px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-7 > p{
		font-size: 13px;
		width: 300px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5{
		height: 500px;
		background: url('img/Services_bg_05.jpg');
		background-size: 100% 100%;
		position: relative;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12{
		padding: 30px 6.5% 30px 6.5%;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > h5{
		color: #2AC6CB;
		font-weight: bold;
		font-size: 14px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > p{
		font-size: 13px;
		color: rgba(0,0,0,1);
		margin-bottom: 30px;
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a{
		color: black;
		color: rgba(0,0,0,1);
		font-size: 14px;	
	}

	.section:nth-child(even) > .container-fluid > .col-md-12 > a:hover{
		color: #2AC6CB;
	}

	.section:nth-child(even) > .container-fluid > .col-md-5 > img{
		height: 440px;
		position: absolute;
		top: 30px;
	}

	.read-more-1,.read-more-2{
		margin-bottom: 30px;
		
	}

	.hamburger{
		position: absolute;
		right: 20px;
		top: 0;
		font-size: 40px;
		cursor: pointer;
		z-index: 500;
	}

	#original-dropdown-menu{
		display: none;
	}

	.dropdown-wrapper{
		/*border: 1px solid red;*/
	}

	.dropdown-wrapper > div{
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: center;
		background-color: #f5f5f5;
	}

	.dropdown-wrapper > div > a{
		color: black;
		text-decoration: none;
		color: rgba(0,0,0,0.7);
	}
	.vanish{
		display: none;
	}

	.hidden-heading{
		font-size: 13px;
		font-weight: bold;
	}


}


